.chitietbaiviet{
  &__section{
    @include media-breakpoint-up('m'){
      padding-top: 80px;
      padding-bottom: 120px;
    }
  }
  &__w1{
    @include media-breakpoint-up('m'){
      width: 112px;
    }
  }
  &__item{
    &:nth-child(n+2){
      margin-top: 20px;
      @include media-breakpoint-up('m'){
        margin-top: 30px;
      }
    }
  }
  &__item1{
    &:nth-child(n+2){
      margin-top: 60px;
      @include media-breakpoint-up('m'){
        margin-top: 100px;
      }
    }
  }
  &__comment{
    &__box1{
      border: 1px solid #EBEBEB;
      box-sizing: border-box;
      padding: 15px;
    }
    &__social{
      &__icon{
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-flex;
        &--facebook{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.001 2.021C6.47895 2.021 2.00195 6.498 2.00195 12.02C2.00195 17.01 5.65795 21.146 10.439 21.899V14.911H7.89895V12.02H10.439V9.817C10.439 7.309 11.932 5.926 14.215 5.926C15.309 5.926 16.455 6.121 16.455 6.121V8.58H15.191C13.951 8.58 13.563 9.352 13.563 10.143V12.018H16.334L15.891 14.909H13.563V21.897C18.344 21.148 22 17.011 22 12.02C22 6.498 17.523 2.021 12.001 2.021Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
        &--skype{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8569 17.417C8.9099 17.417 7.5629 15.893 7.5629 14.776C7.5629 14.51 7.6709 14.255 7.8609 14.071C8.0509 13.888 8.3079 13.792 8.5709 13.807C9.8319 13.807 9.5019 15.727 11.8569 15.727C13.0599 15.727 13.7669 14.991 13.7669 14.302C13.7669 13.887 13.5329 13.413 12.7389 13.223L10.1099 12.55C7.9989 12.005 7.6309 10.813 7.6309 9.70801C7.6309 7.41501 9.6989 6.58401 11.6669 6.58401C13.4809 6.58401 15.6369 7.60001 15.6369 8.97501C15.6369 9.56701 15.1489 9.88501 14.5819 9.88501C13.5039 9.88501 13.6849 8.34901 11.5189 8.34901C10.4419 8.34901 9.8739 8.86201 9.8739 9.57901C9.8739 10.296 10.7129 10.539 11.4479 10.702L13.3889 11.147C15.5149 11.633 16.0799 12.898 16.0799 14.11C16.0799 15.975 14.6569 17.415 11.8539 17.415L11.8569 17.417ZM19.9929 13.473C20.0789 12.983 20.1209 12.487 20.1209 11.991C20.1309 9.49601 19.0499 7.12501 17.1689 5.51701C15.2899 3.90801 12.8039 3.22901 10.3809 3.66101C9.6379 3.22601 8.7939 2.99801 7.9349 3.00001C6.1719 3.01001 4.5479 3.97001 3.6649 5.51901C2.7839 7.06801 2.7779 8.97601 3.6499 10.53C3.1629 13.244 4.0159 16.027 5.9319 17.983C7.8489 19.938 10.5869 20.818 13.2649 20.338C14.0079 20.773 14.8509 21.001 15.7079 21C17.4719 20.989 19.0939 20.03 19.9769 18.482C20.8589 16.934 20.8659 15.027 19.9929 13.473Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
        &--twiter{
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2756 7.99704C20.2886 8.17204 20.2886 8.34604 20.2886 8.52004C20.2886 13.845 16.2356 19.981 8.82858 19.981C6.54658 19.981 4.42658 19.32 2.64258 18.172C2.96658 18.209 3.27858 18.222 3.61558 18.222C5.49858 18.222 7.23158 17.586 8.61658 16.501C6.84558 16.464 5.36158 15.304 4.84958 13.708C5.09858 13.745 5.34858 13.77 5.61058 13.77C5.97158 13.77 6.33458 13.72 6.67158 13.633C4.82458 13.259 3.44158 11.638 3.44158 9.68004V9.63004C3.97858 9.92904 4.60158 10.116 5.26158 10.141C4.17658 9.41904 3.46558 8.18404 3.46558 6.78704C3.46558 6.03904 3.66458 5.35304 4.01358 4.75504C5.99658 7.19804 8.97758 8.79504 12.3196 8.97004C12.2576 8.67004 12.2196 8.35904 12.2196 8.04704C12.2196 5.82704 14.0156 4.01904 16.2476 4.01904C17.4076 4.01904 18.4546 4.50504 19.1906 5.29104C20.1006 5.11604 20.9726 4.77904 21.7466 4.31804C21.4476 5.25304 20.8106 6.03904 19.9756 6.53804C20.7866 6.45004 21.5726 6.22604 22.2946 5.91404C21.7466 6.71204 21.0616 7.42304 20.2756 7.99704Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
        &--youtube{
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8883 7.20301C21.6583 6.34501 20.9833 5.66801 20.1263 5.43701C18.5603 5.00701 12.2953 5.00001 12.2953 5.00001C12.2953 5.00001 6.03125 4.99301 4.46425 5.40401C3.62425 5.63301 2.93025 6.32501 2.69825 7.18201C2.28525 8.74801 2.28125 11.996 2.28125 11.996C2.28125 11.996 2.27725 15.26 2.68725 16.81C2.91725 17.667 3.59225 18.344 4.45025 18.575C6.03225 19.005 12.2803 19.012 12.2803 19.012C12.2803 19.012 18.5453 19.019 20.1113 18.609C20.9673 18.379 21.6453 17.703 21.8783 16.846C22.2923 15.281 22.2953 12.034 22.2953 12.034C22.2953 12.034 22.3153 8.76901 21.8883 7.20301ZM10.2913 15.005L10.2963 9.00501L15.5033 12.01L10.2913 15.005Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__title{
      @extend .fz-16;
      letter-spacing: 0.05em;
      color: #444444;
      font-family: $font-Poppins-Regular;
      &--medium{
        font-family: $font-Poppins-Medium;
      }
    }
    &__item2{
      &:nth-child(n+2){
        $x:20px;
        margin-top: #{$x};
      }
    }
    &__item1{
      &:nth-child(n+2){
        border-top: 1px solid #EBEBEB;
        $x:20px;
        margin-top: #{$x};
        padding-top: #{$x};
        @include media-breakpoint-up('m'){
          $x:30px;
          margin-top: #{$x};
          padding-top: #{$x};
        }
      }
    }
  }
}