.chitietbaiviet{
  &__section{
    @include media-breakpoint-up('m'){
      padding-top: 80px;
      padding-bottom: 120px;
    }
  }
  &__w1{
    @include media-breakpoint-up('m'){
      width: 112px;
    }
  }
  &__item{
    &:nth-child(n+2){
      margin-top: 20px;
      @include media-breakpoint-up('m'){
        margin-top: 30px;
      }
    }
  }
  &__item1{
    &:nth-child(n+2){
      margin-top: 60px;
      @include media-breakpoint-up('m'){
        margin-top: 100px;
      }
    }
  }
}