.podcast{
  &__section1{
    background: #F8F8FB;
    @include media-breakpoint-up('m'){
      $x:120px;
      padding-top: #{$x};
      padding-bottom: #{$x};
    }
    &__boxCover{
      @include media-breakpoint-up('m'){
        border-radius: 50px;
      }
    }
    &__label{
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #286DBF;
      line-height: 3;
      @extend .fz-16;
      font-family: $font-Montserrat-Bold;
    }
    &__title{
      letter-spacing: 0.05em;
      color: #333333;
      @extend .fz-36;
      line-height: 1.33;
      font-family: $font-Montserrat-Bold;
    }
    &__desc{
      letter-spacing: 0.05em;
      color: #707070;
      line-height: 1.88;
      @extend .fz-16;
      font-family: $font-Poppins-Regular;
    }
    &__btnPlay{
      width: 80px;
      height: 80px;
      display: flex;
      border-radius: 50%;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
      background: rgba(#ffffff,0.6);
      position: relative;
      &:before{
        content: "";
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666992 0V20L17.3337 10L0.666992 0Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &__btn{
      border-radius: 5px;
      letter-spacing: 0.05em;
      text-transform: inherit;
      @extend .fz-16;
      font-family: $font-Poppins-Regular;
      &--viewAll{
        background: #EBEBEB;
        color: #444444;
      }
      &--archire{
        background: #286DBF;
        color: #FFFFFF;
        display: inline-flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        &:before{
          content: "";
          width: 30px;
          height: 30px;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 0.5H2.5C1.12125 0.5 0 1.62125 0 3V25.5L10 19.785L20 25.5V3C20 1.62125 18.8787 0.5 17.5 0.5ZM17.5 21.1912L10 16.9062L2.5 21.1912V3H17.5V21.1912Z' fill='white'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          margin-right: 5px;
        }
      }
    }
  }
  &__section2{
    @include media-breakpoint-up('m'){
      $x:120px;
      padding-top: #{$x};
      padding-bottom: #{$x};
    }
    &__box1{
      padding: 15px;
      background: #F8F8FB;
      border-radius: 10px;
      @include media-breakpoint-up('m'){
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 28px;
        padding-bottom: 28px;
        border-radius: 25px;
        min-height: 277px;
      }
      &__cover{
        @include media-breakpoint-up('m'){
          border-radius: 10px;
        }
      }
      &__label{
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #286DBF;
        @extend .fz-14;
        line-height: 2.14;
        font-family: $font-Poppins-Regular;
      }
      &__title{
        letter-spacing: 0.05em;
        color: #333333;
        @extend .fz-16;
        font-family: $font-Montserrat-Bold;
        line-height: 1.88;
        @extend .line-clamp-2;
        a{
          color: #333333;
        }
      }
      &__timeCreate{
        letter-spacing: 0.05em;
        color: #707070;
        line-height: 2.5;
        @extend .fz-12;
        font-family: $font-Poppins-Regular;
        display: flex;
        align-items: center;
        &:after{
          content: "";
          width: 14px;
          height: 14px;
          margin-left: 15px;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49967 0.166626H1.49967C0.856258 0.166626 0.333008 0.689876 0.333008 1.33329V11.8333L4.99967 9.16629L9.66634 11.8333V1.33329C9.66634 0.689876 9.14309 0.166626 8.49967 0.166626ZM8.49967 9.82254L4.99967 7.82288L1.49967 9.82254V1.33329H8.49967V9.82254Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
        }
      }
      &__progress{
        &::-webkit-slider-thumb{

        }
        &::-webkit-slider-runnable-track{

        }
        &::-webkit-slider-container{

        }
      }
      &__time{
        letter-spacing: 0.05em;
        color: #707070;
        @extend .fz-8;
        font-family: $font-Poppins-Regular;
        line-height: 3.75;
      }
      &__btnPlay{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.800781 0V12L10.8008 6L0.800781 0Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__box2{
      &__cover{
        @include media-breakpoint-up('m'){
          border-radius: 50px;
        }
      }
      &__title{
        margin: 0;
        letter-spacing: 0.05em;
        color: #333333;
        line-height: 1.25;
        @extend .fz-24;
        font-family: $font-Montserrat-Bold;
        a{
          color: #333333;
        }
      }
      &__desc{
        @extend .line-clamp-3;
        letter-spacing: 0.05em;
        color: #707070;
        line-height: 1.88;
        @extend .fz-16;
        font-family: $font-Poppins-Regular;
      }
      &__tap{
        letter-spacing: 0.05em;
        color: #8C8C8C;
        line-height: 1.88;
        @extend .fz-16;
        font-family: $font-Montserrat-Regular;
        display: flex;
        align-items: center;
        &:before{
          width: 24px;
          height: 24px;
          margin-right: 10px;
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12V10.293C20 5.851 16.521 2.132 12.245 2.003C10.041 1.952 7.994 2.739 6.429 4.259C5.65744 5.00232 5.04444 5.89423 4.62697 6.88092C4.2095 7.86761 3.99623 8.92863 4 10V12C2.897 12 2 12.897 2 14V18C2 19.103 2.897 20 4 20H6V10C5.99705 9.19649 6.15688 8.40071 6.46985 7.66065C6.78282 6.92059 7.24245 6.25159 7.821 5.694C8.39712 5.13318 9.08047 4.69435 9.83014 4.4038C10.5798 4.11324 11.3804 3.97692 12.184 4.003C15.392 4.099 18 6.921 18 10.293V20H20C21.103 20 22 19.103 22 18V14C22 12.897 21.103 12 20 12Z' fill='%23707070'/%3E%3Cpath d='M7 12H9V20H7V12ZM15 12H17V20H15V12Z' fill='%23707070'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
        }
      }
    }
  }
}