.thongtintaikhoan{
  &__section{
    @include media-breakpoint-up('m'){
      padding-bottom: 120px;
      padding-top: 80px;
    }
  }
  &__coverAvarta{
    //background: #286DBF;
    &__custom{
      bottom: 25px;
    }
    &__upload{
      letter-spacing: 0.05em;
      color: #707070;
      @extend .fz-16;
      font-family: $font-Poppins-Medium;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        content: "";
        width: 24px;
        height: 24px;
        display: flex;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 19V15H16L12 10L8 15H11V19H13Z' fill='%23707070'/%3E%3Cpath d='M7 19H9V17H7C5.346 17 4 15.654 4 14C4 12.596 5.199 11.244 6.673 10.985L7.254 10.883L7.446 10.325C8.149 8.274 9.895 7 12 7C14.757 7 17 9.243 17 12V13H18C19.103 13 20 13.897 20 15C20 16.103 19.103 17 18 17H15V19H18C20.206 19 22 17.206 22 15C21.9985 14.1036 21.6966 13.2336 21.1427 12.5288C20.5888 11.8241 19.8147 11.3253 18.944 11.112C18.507 7.67 15.56 5 12 5C9.244 5 6.85 6.611 5.757 9.15C3.609 9.792 2 11.82 2 14C2 16.757 4.243 19 7 19Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &__textarea{
    background: #F8F8FB;
    border-color: #F8F8FB;
    border-radius: 10px;
    letter-spacing: 0.05em;
    color: #8C8C8C;
    @extend .fz-14;
    line-height: (21/14);
    font-family: $font-Poppins-Medium;
    @include media-breakpoint-up('m'){
      min-height: 195px;
      padding: 20px;
    }
  }
  &__topHeader{
    background: #286DBF;
    height: 40px;
    @include media-breakpoint-up('m'){
      height: 60px;
    }
  }
  &__nav{
    border: 1px solid #EBEBEB;
    margin: 0;
    >li{
      &.uk-active{
        >a{
          color: #286DBF;
          font-family: $font-Poppins-Bold;
          background-color: #f8f8f8;
          &:before{
            content: "";
            width: 20px;
            height: 4px;
            background: #286DBF;
            display: block;
            margin-right: 10px;
          }
        }
      }
      &:nth-child(n+2){
        >a{
          border-top: 1px solid #EBEBEB;
        }
      }
      >a{
        &:hover{
          background-color: #f8f8f8;
        }
        display: flex;
        align-items: center;
        padding: 10px 15px;
        letter-spacing: 0.05em;
        color: #707070;
        @extend .fz-15;
        font-family: $font-Poppins-Regular;
        @include media-breakpoint-up('m'){
          padding: 23px 15px;
        }
      }
    }
  }
  &__title{
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    font-family: $font-Montserrat-Bold;
    letter-spacing: 0.05em;
    color: #333333;
    line-height: 1.25;
    @extend .fz-24;
  }
  &__label1{
    letter-spacing: 0.05em;
    color: #333333;
    @extend .fz-16;
    line-height: 1.88;
    font-family: $font-Montserrat-SemiBold;
  }
  &__label2{
    letter-spacing: 0.05em;
    color: #555555;
    line-height: 1.88;
    @extend .fz-16;
    font-family: $font-Poppins-Medium;
  }
  &__desc{
    letter-spacing: 0.05em;
    color: #707070;
    @extend .fz-16;
    line-height: 1.88;
    font-family: $font-Poppins-Regular;
  }
  &__checkBox{
    &__input{
      display: none;
    }
    &__label{
      position: relative;
      cursor: pointer;
      $x:40px;
      width: 83px;
      height: #{$x};
      display: flex;
      transition: all .3s;
      &:before,
      &:after{
        transition: all .3s;
      }
      &:before{
        content: "";
        background: #EBEBEB;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        border-radius: 500px;
      }
      &:after{
        content: "";
        width: #{$x};
        height: #{$x};
        border-radius: 50%;
        background: #286DBF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
        display: flex;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .thongtintaikhoan__checkBox__input:checked ~ &{
        &:before{

        }
        &:after{
          right: calc(100% - #{$x}) !important;
        }
      }
    }
  }
  &__item{
    &:nth-child(n+2){
      border-top: 1px solid #f5f5f5;
      $x:15px;
      margin-top: #{$x};
      padding-top: #{$x};
      @include media-breakpoint-up('m'){
        $x:25px;
        margin-top: #{$x};
        padding-top: #{$x};
      }
    }
  }
}