.video{
  &__section{
    @include media-breakpoint-up('m'){
      padding-top: 80px;
      padding-bottom: 120px;
    }
  }
  &__boxGradient{
    padding: 15px;
    @include media-breakpoint-up('m'){
      padding-left: 40px;
      padding-top: 37px;
      padding-bottom: 37px;
      padding-right: 48px;
      min-height: 200px;
    }
    background: linear-gradient(3.11deg, #000000 2.42%, rgba(0, 0, 0, 0) 97.29%);
    &__title{
      letter-spacing: 0.05em;
      color: #FFFFFF;
      @extend .fz-24;
      font-family: $font-Montserrat-Bold;
      line-height: 2;
      margin: 0;
      @extend .line-clamp-2;
    }
  }
  &__sidebar{
    &__title{
      letter-spacing: 0.05em;
      color: #333333;
      @extend .fz-30;
      font-family: $font-Montserrat-Bold;
      padding-left: 57px;
      position: relative;
      &:before{
        content: "";
        width: 40px;
        height: 40px;
        background: #286DBF;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6H20V8H4V6ZM4 11H20V13H4V11ZM4 16H20V18H4V16Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__nav{
      >li{
        &.uk-active{
          >a{
            color: #286DBF;
            font-family: $font-Poppins-Bold;
            background-color: #f8f8f8;
            &:before{
              content: "";
              width: 20px;
              height: 4px;
              background: #286DBF;
              display: block;
              margin-right: 10px;
            }
          }
        }
        border-bottom: 1px solid #f5f5f5;
        >a{
          &:hover{
            background-color: #f8f8f8;
          }
          display: flex;
          align-items: center;
          letter-spacing: 0.05em;
          color: #707070;
          @extend .fz-15;
          font-family: $font-Poppins-Regular;
          padding-left: 10px;
          padding-right: 10px;
          @include media-breakpoint-up('m'){
            $x:20px;
            padding-top: #{$x};
            padding-bottom: #{$x};
          }
        }
      }
    }
    &__txt{
      letter-spacing: 0.05em;
      color: #333333;
      line-height: 1.88;
      @extend .fz-16;
      font-family: $font-Montserrat-Bold;
      position: relative;
      display: flex;
      align-items: center;
      &:after{
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0003 7.05V4C13.0003 3.73478 13.1057 3.48043 13.2932 3.29289C13.4807 3.10536 13.7351 3 14.0003 3C14.2626 3.0011 14.514 3.10526 14.7003 3.29L21.7003 10.29C21.794 10.383 21.8684 10.4936 21.9192 10.6154C21.97 10.7373 21.9961 10.868 21.9961 11C21.9961 11.132 21.97 11.2627 21.9192 11.3846C21.8684 11.5064 21.794 11.617 21.7003 11.71L14.7003 18.71C14.5599 18.8476 14.3821 18.9408 14.189 18.9779C13.996 19.015 13.7963 18.9944 13.6149 18.9186C13.4335 18.8429 13.2785 18.7153 13.1692 18.5519C13.0598 18.3886 13.0011 18.1966 13.0003 18V14.9H12.1503C10.5704 14.8764 9.00425 15.197 7.56063 15.8393C6.117 16.4817 4.83046 17.4306 3.7903 18.62C3.66494 18.7869 3.49051 18.9104 3.29146 18.9731C3.09241 19.0359 2.8787 19.0348 2.6803 18.97C2.47839 18.9019 2.30353 18.771 2.18121 18.5965C2.05889 18.422 1.9955 18.213 2.0003 18C2.0003 8.88 10.0803 7.32 13.0003 7.05ZM12.1503 12.88C12.8191 12.8779 13.4874 12.9213 14.1503 13.01C14.387 13.0459 14.603 13.1656 14.759 13.3473C14.915 13.5289 15.0006 13.7606 15.0003 14V15.59L19.5803 11L15.0003 6.41V8C15.0003 8.26522 14.8949 8.51957 14.7074 8.70711C14.5199 8.89464 14.2655 9 14.0003 9C13.0903 9 5.8903 9.2 4.3303 15.43C6.5946 13.7606 9.33713 12.8663 12.1503 12.88Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 7px;
      }
    }
    &__icon{
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      &:nth-child(n+2){
        margin-left: 15px;
        @include media-breakpoint-up('m'){
          margin-left: 30px;
        }
      }
      &--fb{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 3H4C3.73478 3 3.48043 3.10536 3.29289 3.29289C3.10536 3.48043 3 3.73478 3 4V20C3 20.2652 3.10536 20.5196 3.29289 20.7071C3.48043 20.8946 3.73478 21 4 21H12.615V14.04H10.277V11.315H12.615V9.315C12.615 6.99 14.035 5.723 16.115 5.723C16.814 5.721 17.514 5.757 18.21 5.83V8.25H16.775C15.647 8.25 15.427 8.788 15.427 9.575V11.31H18.124L17.774 14.035H15.426V21H20C20.2652 21 20.5196 20.8946 20.7071 20.7071C20.8946 20.5196 21 20.2652 21 20V4C21 3.73478 20.8946 3.48043 20.7071 3.29289C20.5196 3.10536 20.2652 3 20 3Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
      }
      &--insta{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9471 8.30499C20.937 7.54761 20.7952 6.79776 20.5281 6.08899C20.2964 5.49114 19.9426 4.94819 19.4892 4.49482C19.0359 4.04145 18.4929 3.68764 17.8951 3.45599C17.1954 3.19334 16.4562 3.05133 15.7091 3.03599C14.7471 2.99299 14.4421 2.98099 12.0001 2.98099C9.55807 2.98099 9.24507 2.98099 8.29007 3.03599C7.54323 3.05144 6.80442 3.19346 6.10507 3.45599C5.50713 3.68748 4.96409 4.04123 4.5107 4.49462C4.05732 4.94801 3.70356 5.49105 3.47207 6.08899C3.2089 6.78812 3.06719 7.5271 3.05307 8.27399C3.01007 9.23699 2.99707 9.54199 2.99707 11.984C2.99707 14.426 2.99707 14.738 3.05307 15.694C3.06807 16.442 3.20907 17.18 3.47207 17.881C3.70395 18.4787 4.05797 19.0216 4.51151 19.4748C4.96505 19.928 5.50813 20.2816 6.10607 20.513C6.8035 20.7862 7.54244 20.9384 8.29107 20.963C9.25407 21.006 9.55907 21.019 12.0011 21.019C14.4431 21.019 14.7561 21.019 15.7111 20.963C16.4582 20.9483 17.1974 20.8066 17.8971 20.544C18.4948 20.3121 19.0376 19.9582 19.4909 19.5048C19.9442 19.0515 20.2982 18.5087 20.5301 17.911C20.7931 17.211 20.9341 16.473 20.9491 15.724C20.9921 14.762 21.0051 14.457 21.0051 12.014C21.0031 9.57199 21.0031 9.26199 20.9471 8.30499ZM11.9941 16.602C9.44007 16.602 7.37107 14.533 7.37107 11.979C7.37107 9.42499 9.44007 7.35599 11.9941 7.35599C13.2202 7.35599 14.396 7.84305 15.263 8.71003C16.13 9.57701 16.6171 10.7529 16.6171 11.979C16.6171 13.2051 16.13 14.381 15.263 15.2479C14.396 16.1149 13.2202 16.602 11.9941 16.602ZM16.8011 8.26299C16.6595 8.26312 16.5192 8.23533 16.3884 8.1812C16.2575 8.12707 16.1386 8.04767 16.0385 7.94754C15.9384 7.84741 15.859 7.72852 15.8049 7.59768C15.7507 7.46683 15.7229 7.32659 15.7231 7.18499C15.7231 7.04349 15.7509 6.90337 15.8051 6.77265C15.8592 6.64192 15.9386 6.52314 16.0387 6.42308C16.1387 6.32302 16.2575 6.24366 16.3882 6.18951C16.519 6.13536 16.6591 6.10749 16.8006 6.10749C16.9421 6.10749 17.0822 6.13536 17.2129 6.18951C17.3436 6.24366 17.4624 6.32302 17.5625 6.42308C17.6625 6.52314 17.7419 6.64192 17.7961 6.77265C17.8502 6.90337 17.8781 7.04349 17.8781 7.18499C17.8781 7.78099 17.3961 8.26299 16.8011 8.26299Z' fill='%23286DBF'/%3E%3Cpath d='M11.9942 14.982C13.6527 14.982 14.9972 13.6375 14.9972 11.979C14.9972 10.3205 13.6527 8.97601 11.9942 8.97601C10.3357 8.97601 8.99121 10.3205 8.99121 11.979C8.99121 13.6375 10.3357 14.982 11.9942 14.982Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
      }
      &--in{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3608 3.008H4.63781C3.73681 3.008 3.00781 3.737 3.00781 4.638V19.362C3.00781 20.262 3.73681 20.993 4.63781 20.993H19.3618C20.2618 20.993 20.9928 20.263 20.9928 19.362V4.638C20.9928 4.42377 20.9506 4.21165 20.8685 4.01376C20.7865 3.81587 20.6663 3.63609 20.5147 3.48471C20.3631 3.33332 20.1832 3.2133 19.9852 3.1315C19.7872 3.0497 19.575 3.00773 19.3608 3.008ZM9.01781 6.505C9.61481 6.505 10.1158 6.977 10.1158 7.583C10.1158 8.199 9.61481 8.663 9.01781 8.663V8.685C8.41381 8.685 7.92781 8.199 7.92781 7.597C7.92781 6.992 8.41381 6.505 9.01781 6.505ZM16.3718 16.857C15.2598 16.857 14.7208 16.195 14.7208 15.291C14.7208 15.031 14.7538 14.758 14.8348 14.479L15.3628 12.573C15.4308 12.365 15.4488 12.168 15.4488 11.992C15.4488 11.377 15.0738 11.008 14.4778 11.008C13.7168 11.008 13.2178 11.551 12.9578 12.606L11.9248 16.752H10.1138L10.4408 15.449C9.90681 16.322 9.16981 16.861 8.25781 16.861C7.15581 16.861 6.64081 16.229 6.64081 15.277C6.6452 15.0041 6.67737 14.7324 6.73681 14.466L7.56281 11.1H6.28481L6.67281 9.67H9.74781L8.53181 14.474C8.45181 14.783 8.42181 15.033 8.42181 15.212C8.42181 15.519 8.56981 15.608 8.80681 15.664C8.95281 15.694 10.1018 15.675 10.7248 14.288L11.5228 11.1H10.2288L10.6198 9.696H13.4068L13.0478 11.313C13.5318 10.414 14.4998 9.551 15.4538 9.551C16.4658 9.551 17.3088 10.279 17.3088 11.662C17.3088 12.062 17.2458 12.458 17.1288 12.842L16.6088 14.7C16.566 14.8608 16.5408 15.0258 16.5338 15.192C16.5338 15.518 16.6698 15.676 16.9018 15.676C17.1398 15.676 17.4548 15.495 17.8008 14.504L18.5088 14.776C18.0948 16.249 17.3268 16.857 16.3718 16.857Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
      }
      &--copy{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.22172 19.778C4.68559 20.2425 5.23669 20.6108 5.84334 20.8617C6.44999 21.1126 7.10023 21.2412 7.75672 21.24C8.41335 21.2411 9.06374 21.1126 9.67054 20.8617C10.2774 20.6108 10.8286 20.2425 11.2927 19.778L14.1207 16.949L12.7067 15.535L9.87872 18.364C9.31519 18.925 8.55239 19.24 7.75722 19.24C6.96205 19.24 6.19925 18.925 5.63572 18.364C5.07422 17.8007 4.75892 17.0378 4.75892 16.2425C4.75892 15.4472 5.07422 14.6843 5.63572 14.121L8.46472 11.293L7.05072 9.87899L4.22172 12.707C3.28552 13.6454 2.75977 14.9169 2.75977 16.2425C2.75977 17.5681 3.28552 18.8395 4.22172 19.778ZM19.7777 11.293C20.7134 10.3543 21.2388 9.08291 21.2388 7.75749C21.2388 6.43207 20.7134 5.16071 19.7777 4.22199C18.8393 3.2858 17.5678 2.76004 16.2422 2.76004C14.9166 2.76004 13.6452 3.2858 12.7067 4.22199L9.87872 7.05099L11.2927 8.46499L14.1207 5.63599C14.6842 5.07498 15.447 4.76002 16.2422 4.76002C17.0374 4.76002 17.8002 5.07498 18.3637 5.63599C18.9252 6.19926 19.2405 6.96216 19.2405 7.75749C19.2405 8.55282 18.9252 9.31572 18.3637 9.87899L15.5347 12.707L16.9487 14.121L19.7777 11.293Z' fill='%23286DBF'/%3E%3Cpath d='M8.46383 16.95L7.04883 15.536L15.5358 7.04999L16.9498 8.46499L8.46383 16.95Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__boxToggle{

  }
  &__boxPlay{
    display: block;
    @include fluidx(80px,60px,width);
    .uk-light &{
      @include fluidx(194px,70px,width);
      @include media-breakpoint-down('s'){
        top: 30%;
      }
    }
  }
  &__btnPlay{
    border-radius: 50%;
    display: block;
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='194' height='194' viewBox='0 0 194 194' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.6' cx='97' cy='97' r='97' fill='white'/%3E%3Ccircle cx='97' cy='97' r='73' fill='white'/%3E%3Cpath d='M86.333 77V117L119.666 97L86.333 77Z' fill='%23286DBF'/%3E%3C/svg%3E%0A");
  }
  &__360{
    &__box{
      padding-bottom: 10px;
      border-bottom: 1px solid #EBEBEB;
    }
    &__btnFillter{
      border-radius: 5px;
      text-transform: inherit;
      background: #286DBF;
      border-color: #286DBF;
      color: #FFFFFF;
      letter-spacing: 0.05em;
      @extend .fz-14;
      font-family: $font-Poppins-Regular;
      padding-left: 15px;
      @include media-breakpoint-up('m'){
        min-width: 150px;
        padding-left: 24px;
        padding-right: 38px;
      }
      position: relative;
      text-align: left;
      .uk-icon{
        right: 7px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.293 0.419983L5.99997 4.71298L1.70697 0.419983L0.292969 1.83398L5.99997 7.54098L11.707 1.83398L10.293 0.419983Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        svg{
          opacity: 0;
        }
      }
    }
  }
  &__title2{
    letter-spacing: 0.05em;
    color: #333333;
    @extend .fz-24;
    line-height: 1.67;
    font-family: $font-Montserrat-Bold;
    a{
      color: #333333;
      .video__boxToggle:hover &{
        @include media-breakpoint-up('m'){
          color: #286DBF;
        }
      }
    }
  }
  &__title1{
    letter-spacing: 0.05em;
    color: #333333;
    @extend .fz-16;
    line-height: 1.88;
    font-family: $font-Montserrat-Bold;
    a{
      color: #333333;
      .video__boxToggle:hover &{
        @include media-breakpoint-up('m'){
          color: #286DBF;
        }
      }
    }
  }
  &__time{
    letter-spacing: 0.05em;
    @extend .fz-12;
    line-height: 2.5;
    font-family: $font-Poppins-Regular;
    color: #707070;
    .uk-light &{
      color: rgba(255,255,255,.7);
    }
  }
}