.header{
  z-index: 1033;
  position: relative;
  &.uk-sticky-below{
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
  }
  &__bannderAds{
    z-index: 301;
  }
  .uk-container{
    max-width: calc(#{$w-container} + 30px);
  }
  &__top{
    .uk-sticky-fixed &{
      display: none;
    }
    &__dropFlag{
      padding: 8px 15px;
      padding: 0;
      .header__top &{
        left: 50% !important;
        transform: translateX(-50%) !important;
      }
      border-radius: 2px;
      min-width: 180px;
      &:before{
        content: "";
        position: absolute;
        bottom: 100%;
        left: calc(44% + 2px);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        border-bottom: 5px solid white;
      }
      .uk-nav{
        >li{
          >a{
            background-repeat: no-repeat;
            background-position: center left 10px;
            padding: 9px 0;
            padding-right: 10px;
            padding-left: 42px;
            color: rgb(33, 33, 37);
            position: relative;
            font-family: $font-Poppins-Regular;
            &:hover{
              background-color: rgb(242, 245, 247);
              color: #000;
            }
            &:after{
              content: "";
              background-image: var(--background);
              display: inline-block;
              width: 24px;
              height: 16px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              position: absolute;
              left: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &.uk-active{
            >a{
              color: #000;
              font-family: $font-Poppins-Medium;
              &:before{
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='check' class='svg-inline--fa fa-check fa-w-16 styles__SelectedIcon-cxeekh-11 fNUdEM' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgb(224, 0, 0)' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'%3E%3C/path%3E%3C/svg%3E");
                $x: 16px;
                width: #{$x};
                height: #{$x};
                background-size: 100%;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
    &__flag{
      cursor: pointer;
      padding-right: 20px;
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9974 14.1667L15.8307 7.5H4.16406L9.9974 14.1667Z' fill='%23707070'/%3E%3C/svg%3E%0A");
      &[aria-expanded="true"]{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9974 14.1667L15.8307 7.5H4.16406L9.9974 14.1667Z' fill='%23707070'/%3E%3C/svg%3E%0A");
      }
      background-repeat: no-repeat;
      background-position: center right;
      span{
        letter-spacing: 0.05em;
        color: #707070;
        @extend .fz-15;
        font-family: $font-Poppins-Regular;
      }
    }
    .uk-navbar-item{
      min-height: 60px;
    }
    &__social{
      &:before{
        content: "";
        width: 20px;
        height: 20px;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &--facebook{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0005 1.66821C5.3988 1.66821 1.66797 5.39905 1.66797 10.0007C1.66797 14.159 4.71464 17.6057 8.6988 18.2332V12.4099H6.58214V10.0007H8.6988V8.16488C8.6988 6.07488 9.94297 4.92238 11.8455 4.92238C12.7571 4.92238 13.7121 5.08488 13.7121 5.08488V7.13405H12.6588C11.6255 7.13405 11.3021 7.77738 11.3021 8.43655V9.99905H13.6113L13.2421 12.4082H11.3021V18.2315C15.2863 17.6074 18.333 14.1599 18.333 10.0007C18.333 5.39905 14.6021 1.66821 10.0005 1.66821Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
      }
      &--instagram{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4564 6.9208C17.448 6.28965 17.3298 5.66478 17.1072 5.07413C16.9142 4.57592 16.6193 4.12346 16.2415 3.74566C15.8637 3.36785 15.4113 3.07301 14.913 2.87996C14.33 2.6611 13.714 2.54275 13.0914 2.52996C12.2897 2.49413 12.0355 2.48413 10.0005 2.48413C7.96555 2.48413 7.70471 2.48413 6.90888 2.52996C6.28651 2.54284 5.67084 2.66119 5.08805 2.87996C4.58976 3.07287 4.13723 3.36767 3.75941 3.74549C3.38158 4.12331 3.08679 4.57585 2.89388 5.07413C2.67457 5.65674 2.55648 6.27256 2.54471 6.89496C2.50888 7.69746 2.49805 7.95163 2.49805 9.98663C2.49805 12.0216 2.49805 12.2816 2.54471 13.0783C2.55721 13.7016 2.67471 14.3166 2.89388 14.9008C3.08711 15.3989 3.38213 15.8513 3.76008 16.2289C4.13803 16.6066 4.5906 16.9013 5.08888 17.0941C5.67007 17.3218 6.28586 17.4486 6.90971 17.4691C7.71221 17.505 7.96638 17.5158 10.0014 17.5158C12.0364 17.5158 12.2972 17.5158 13.093 17.4691C13.7157 17.4569 14.3317 17.3388 14.9147 17.12C15.4128 16.9267 15.8651 16.6318 16.2429 16.254C16.6207 15.8762 16.9156 15.4239 17.1089 14.9258C17.328 14.3425 17.4455 13.7275 17.458 13.1033C17.4939 12.3016 17.5047 12.0475 17.5047 10.0116C17.503 7.97663 17.503 7.7183 17.4564 6.9208ZM9.99555 13.835C7.86721 13.835 6.14305 12.1108 6.14305 9.98246C6.14305 7.85413 7.86721 6.12996 9.99555 6.12996C11.0173 6.12996 11.9972 6.53585 12.7197 7.25834C13.4422 7.98082 13.848 8.96072 13.848 9.98246C13.848 11.0042 13.4422 11.9841 12.7197 12.7066C11.9972 13.4291 11.0173 13.835 9.99555 13.835ZM14.0014 6.8858C13.8834 6.88591 13.7665 6.86275 13.6575 6.81764C13.5484 6.77253 13.4494 6.70637 13.3659 6.62293C13.2825 6.53949 13.2163 6.44041 13.1712 6.33137C13.1261 6.22233 13.1029 6.10547 13.103 5.98746C13.103 5.86955 13.1263 5.75279 13.1714 5.64385C13.2165 5.53491 13.2827 5.43592 13.366 5.35254C13.4494 5.26916 13.5484 5.20302 13.6573 5.1579C13.7663 5.11277 13.883 5.08955 14.001 5.08955C14.1189 5.08955 14.2356 5.11277 14.3446 5.1579C14.4535 5.20302 14.5525 5.26916 14.6359 5.35254C14.7193 5.43592 14.7854 5.53491 14.8305 5.64385C14.8757 5.75279 14.8989 5.86955 14.8989 5.98746C14.8989 6.48413 14.4972 6.8858 14.0014 6.8858Z' fill='%23707070'/%3E%3Cpath d='M9.99469 12.485C11.3768 12.485 12.4972 11.3646 12.4972 9.98248C12.4972 8.60039 11.3768 7.47998 9.99469 7.47998C8.61259 7.47998 7.49219 8.60039 7.49219 9.98248C7.49219 11.3646 8.61259 12.485 9.99469 12.485Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
      }
      &--youtube{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9935 6.00259C17.8985 5.65042 17.713 5.32926 17.4554 5.07106C17.1978 4.81286 16.8771 4.62664 16.5251 4.53092C15.2201 4.17259 9.9993 4.16675 9.9993 4.16675C9.9993 4.16675 4.7793 4.16092 3.47346 4.50342C3.12174 4.60354 2.80165 4.7924 2.54394 5.05187C2.28622 5.31133 2.09954 5.63269 2.0018 5.98509C1.65763 7.29009 1.6543 9.99675 1.6543 9.99675C1.6543 9.99675 1.65096 12.7168 1.99263 14.0084C2.1843 14.7226 2.7468 15.2868 3.4618 15.4793C4.78013 15.8376 9.9868 15.8434 9.9868 15.8434C9.9868 15.8434 15.2076 15.8493 16.5126 15.5076C16.8647 15.412 17.1858 15.2262 17.444 14.9686C17.7023 14.7109 17.8888 14.3903 17.9851 14.0384C18.3301 12.7343 18.3326 10.0284 18.3326 10.0284C18.3326 10.0284 18.3493 7.30759 17.9935 6.00259ZM8.3293 12.5043L8.33346 7.50425L12.6726 10.0084L8.3293 12.5043Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__btn{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #286DBF;
      border-radius: 5px;
      text-transform: inherit;
      min-width: 150px;
      padding: 0 9px;
      text-align: center;
      span{
        letter-spacing: 0.05em;
        @extend .fz-14;
        font-family: $font-Poppins-Regular;
      }
      &--store{
        &:before{
          margin-right: 8px;
          content: "";
          width: 20px;
          height: 20px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: flex;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.956 2.47591C15.8075 2.22968 15.5981 2.02587 15.3479 1.88414C15.0977 1.74241 14.8152 1.66754 14.5277 1.66675H5.47102C4.88935 1.66675 4.34185 1.97675 4.04268 2.47591L1.78518 6.23758C1.70706 6.36709 1.66585 6.5155 1.66602 6.66675C1.66934 7.47109 1.96559 8.24668 2.49935 8.84841V15.8334C2.49935 16.7526 3.24685 17.5001 4.16602 17.5001H15.8327C16.7519 17.5001 17.4994 16.7526 17.4994 15.8334V8.84841C18.0331 8.24668 18.3294 7.47109 18.3327 6.66675C18.3328 6.5155 18.2916 6.36709 18.2135 6.23758L15.956 2.47591ZM16.6527 6.87592C16.6012 7.27827 16.4051 7.64812 16.1008 7.91635C15.7965 8.18458 15.405 8.33284 14.9994 8.33341C14.0802 8.33341 13.3327 7.58591 13.3327 6.66675C13.3327 6.61008 13.3119 6.56008 13.3002 6.50675L13.3169 6.50341L12.6827 3.33341H14.5277L16.6527 6.87592ZM9.01518 3.33341H10.9827L11.6602 6.72091C11.631 7.61425 10.8994 8.33341 9.99935 8.33341C9.09935 8.33341 8.36768 7.61425 8.33852 6.72091L9.01518 3.33341ZM5.47102 3.33341H7.31602L6.68268 6.50341L6.69935 6.50675C6.68685 6.56008 6.66602 6.61008 6.66602 6.66675C6.66602 7.58591 5.91852 8.33341 4.99935 8.33341C4.59373 8.33284 4.20219 8.18458 3.89791 7.91635C3.59364 7.64812 3.39745 7.27827 3.34602 6.87592L5.47102 3.33341ZM8.33268 15.8334V13.3334H11.666V15.8334H8.33268ZM13.3327 15.8334V13.3334C13.3327 12.4142 12.5852 11.6667 11.666 11.6667H8.33268C7.41352 11.6667 6.66602 12.4142 6.66602 13.3334V15.8334H4.16602V9.88175C4.43352 9.95091 4.70935 10.0001 4.99935 10.0001C5.47253 10.0003 5.94031 9.89958 6.37144 9.70457C6.80256 9.50956 7.1871 9.22477 7.49935 8.86925C8.11018 9.56258 9.00518 10.0001 9.99935 10.0001C10.9935 10.0001 11.8885 9.56258 12.4994 8.86925C12.8116 9.22477 13.1961 9.50956 13.6273 9.70457C14.0584 9.89958 14.5262 10.0003 14.9994 10.0001C15.2894 10.0001 15.5652 9.95091 15.8327 9.88175V15.8334H13.3327Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  &__center{
    z-index: 301;
    border-bottom: 1px solid #EBEBEB;
    @include media-breakpoint-up('m'){
      border: none;
    }
    .uk-navbar-toggle,
    .uk-navbar-item{
      min-height: 60px;
      @include media-breakpoint-up('m'){
        min-height: 120px;
      }
    }
    .uk-logo{
      img{
        height: 28px;
        @include media-breakpoint-up('m'){
          height: 50px;
        }
      }
    }
    &__navItemMobile{
      padding: 0 10px;
      &--signIn{
        padding-right: 15px;
      }
    }
    &__formSearchDropdown{
      left: 0 !important;
      width: 100%;
      right: 0;
      margin: 0;
      padding: 10px 15px;
      border-top: 1px solid #eee;
      box-shadow: none;
      .uk-search-input{
        letter-spacing: 0.05em;
        @extend .fz-15;
        font-family: $font-Poppins-Regular;
        &::placeholder{
          color: #707070;
        }
      }
    }
    &__iconMenu{
      svg{
        >*{
          //opacity: 0;
        }
        //background-size: contain;
        //background-repeat: no-repeat;
        //background-position: center;
        //background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33398 5H16.6673V6.66667H3.33398V5ZM3.33398 9.16667H16.6673V10.8333H3.33398V9.16667ZM3.33398 13.3333H16.6673V15H3.33398V13.3333Z' fill='%23707070'/%3E%3C/svg%3E%0A");
      }
    }
    &__linkTxt{
      letter-spacing: 0.05em;
      color: #707070;
      @extend .fz-14;
      font-family: $font-Poppins-Regular;
      &--register{
        display: flex;
        align-items: center;
        &:before{
          margin-right: 3px;
          content: "";
          width: 14px;
          height: 14px;
          display: flex;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.375 3.79175C4.375 5.239 5.55275 6.41675 7 6.41675C8.44725 6.41675 9.625 5.239 9.625 3.79175C9.625 2.3445 8.44725 1.16675 7 1.16675C5.55275 1.16675 4.375 2.3445 4.375 3.79175ZM11.6667 12.2501H12.25V11.6667C12.25 9.41567 10.4177 7.58342 8.16667 7.58342H5.83333C3.58167 7.58342 1.75 9.41567 1.75 11.6667V12.2501H11.6667Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  &__bottom{
    .uk-navbar-dropdown{
      //box-shadow: none !important;
      background: rgba(255,255,255,0.9);
      &:not(.uk-dropdown-bottom-right){
        left: 15px;
      }
      &:not(.uk-dropdown-bottom-left){
        //right: 15px !important;
        //left: inherit !important;
      }
    }
    .uk-dropdown:not(.header__top__dropFlag){
      min-width: 250px;
      width: auto;
    }
    .uk-navbar-dropdown-nav{
      background-color: rgba(255, 255, 255, 0.9);
      >li{
        position: relative;
        >.uk-nav{
          //display: none !important;
        }
        &:nth-child(n+2){
          >a{
            &:after{
              content: '';
              display: block;
              width: calc(100% - 30px);
              height: 1px;
              background-color: #d2d2d2;
              opacity: .5;
              right: 15px;
              left: 15px;
              position: absolute;
              top: 0;
            }
          }
        }
        &:hover{
          >a{
            color: #17479b;
            opacity: 1;
            background-color: rgba(255, 255, 255, 0.91);
          }
        }
        >a{
          padding: 10px 15px;
          color: #333333;
          opacity: .5;
          position: relative;
          font-family:$font-Poppins-Medium;
          @extend .fz-15;
          &[aria-expanded]{
            &:before{
              content: "\f105";
              font-family: FontAwesome;
              position: absolute;
              right: 15px;
              top: calc((100% - 17px)/2);
            }
          }
        }
      }
    }
    &__formSearch{
      .uk-icon{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33268 15.0001C9.81183 14.9998 11.2484 14.5046 12.4135 13.5934L16.0768 17.2567L17.2552 16.0784L13.5919 12.4151C14.5035 11.2498 14.999 9.81295 14.9993 8.33341C14.9993 4.65758 12.0085 1.66675 8.33268 1.66675C4.65685 1.66675 1.66602 4.65758 1.66602 8.33341C1.66602 12.0092 4.65685 15.0001 8.33268 15.0001ZM8.33268 3.33341C11.0902 3.33341 13.3327 5.57591 13.3327 8.33341C13.3327 11.0909 11.0902 13.3334 8.33268 13.3334C5.57518 13.3334 3.33268 11.0909 3.33268 8.33341C3.33268 5.57591 5.57518 3.33341 8.33268 3.33341Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        svg{
          opacity: 0;
        }
      }
      .uk-search-input{
        padding-left: 25px;
        letter-spacing: 0.05em;
        @extend .fz-15;
        font-family: $font-Poppins-Regular;
        width: 100px;
        transition: all .3s ease-out;
        height: 30px;
        border-bottom: 1px solid transparent;
        &::placeholder{
          color: #707070;
        }
        &:focus{
          width: 200px;
          border-color: #1e87f0;
        }
      }
    }
    &__selectLang{
      border-color: transparent;
      padding: 0;
      padding-right: 20px;
      position: relative;
      text-transform: inherit;
      letter-spacing: 0.05em;
      color: #707070;
      @extend .fz-15;
      font-family: $font-Poppins-Regular;
      .uk-icon{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center calc(50% - 1px);
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9974 14.1667L15.8307 7.5H4.16406L9.9974 14.1667Z' fill='%23707070'/%3E%3C/svg%3E%0A");
        svg{
          opacity: 0;
        }
      }
    }
    .uk-navbar{
      &:before{
        content: "";
        left: 15px;
        right: 15px;
        top: 0;
        position: absolute;
        @include media-breakpoint-up('m'){
          border-top: 1px solid #EBEBEB;
        }
      }
      position: relative;
    }
    .uk-navbar-nav{
      >li{
        &.uk-active{
          >a{
            color: #286DBF;
            &:after{
              right: 15px;
            }
          }
        }
        >a{
          letter-spacing: 0.05em;
          @extend .fz-15;
          text-transform: inherit;
          font-family: $font-Poppins-SemiBold;
          color: #444444;
          position: relative;
          &:after{
            content: "";
            display: block;
            position: absolute;
            left: 15px;
            right: calc(102% - 15px);
            bottom: 20px;
            height: 2px;
            background-color: #286DBF;
            transition: .3s ease-in-out;
            transition-property: right;
          }
          &:hover{
            color: #286DBF;
            &:after{
              right: 15px;
            }
          }

          &[aria-expanded]{
            position: relative;
            padding-right: 30px;
            &:before{
              content: "";
              display: inline-block;
              width: 15px;
              height: 15px;
              background-size: 100%;
              background-repeat: no-repeat;
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &[aria-expanded="false"]{
            &:before{
              background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
            }
          }
          &[aria-expanded="true"]{
            color: #286DBF;
            &:before{
              background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
            }
            &:after{
              right: 15px;
            }
          }
          &[aria-expanded] ~ .uk-navbar-dropdown{
            //left: 15px !important;
          }
        }
      }
    }
  }
}
.mask_menu{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 300;
  display: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}
.menuMobile{
  &__bar{
    background: #FFFFFF;
  }
  &__close{

  }
  &__nav{
    .uk-parent{
      position: relative;
    }
    &__icon{
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 10px;
      right: 0;
      .uk-open> &{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
      }
    }
    li{
      border-top: 1px solid;
      border-top-color: #EBEBEB !important;
      a{
        color: #23304C !important;
        @extend .fz-15;
        font-family: $font-Poppins-Regular;
        letter-spacing: 0.05em;
        padding: 10px 0;
      }
    }
    >li{
      &:not(:first-child){
        border-top-color: #EBEBEB !important;
      }
      &:first-child{
        border: none;
      }
      &:last-child{
        border-bottom: 1px solid #EBEBEB !important;
      }
      >a{
        font-family: $font-Poppins-SemiBold;
        letter-spacing: 0.05em;
        color: #23304C !important;
        @extend .fz-15;
        padding: 10px 0;
      }
    }
  }
}