.item{
  $x:120;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .home__section &{
        margin-top: 30px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:80;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:40;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .home__section &{
        margin-top: 15px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:20;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:15;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:10;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
}